*.o
*.log
core.*

.directory
Makefile.in
__danu_omxplayer

/src/help.h
/src/keys.h

/aclocal.m4
/autom4te.cache/*
/m4/*
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
